@import 'tailwindcss';
@plugin 'tailwindcss-animate';

:root {
    --background: var(--color-straw);
    --foreground: var(--color-brown-dark);
}

@theme inline {
    /* system */
    --color-background: var(--color-straw);
    --color-foreground: var(--color-brown-dark);

    /* fonts */
    --font-handwriting: var(--font-homemade-apple);
    --font-body: var(--font-work-sans);

    /* palette */
    --color-cream: #f3e0be;
    --color-straw: #f0dc9e;
    --color-sage: #b3b487;
    --color-brown: #93592b;
    --color-brown-dark: #331b08;
    --color-olive: #323f14;
    --color-forest: #1f2909;
}

body {
    background: var(--color-straw);
    color: var(--color-brown-dark);
    font-family: var(--font-work-sans), sans-serif;
}
